/* Images created by: https://unsplash.com/@pawel_czerwinski */

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #192428;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Spartan, sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.player-container {
  height: 600px;
  width: 400px;
  background: #414c50;
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.2);
}

.img-container {
  height: 300px;
  width: 300px;
  position: relative;
  top: -50px;
  left: 50px;
  cursor: pointer;
}

.img-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #192428;
  border-radius: 5px;
  height: 100%;
  /* change this to show progress */
  /* width: 66%; */
  width: 0;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  display: flex;
  width: 300px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.fas {
  font-size: 30px;
  color: rgb(129, 129, 129);
  user-select: none;
  cursor: pointer;
}

.fas:hover {
  filter: brightness(80%);
}

.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

.select-category {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
}

.select-category .categories {
  padding: 0 1.5rem;
}

.category.hidden {
  display: none;
}

.category.hidden.visible {
  display: block;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .player-container {
    width: 95vw;
  }

  .img-container {
    left: 29px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 100px;
  }
}
